.CompanyCard {
	margin: 1rem auto;
	background-color: white;
	width: 50%;
	box-shadow: 1px 2px 3px lightgray;
	padding: 1rem;
	border-radius: 1px;
	position: relative;
	opacity: 0.8;
	color: #2f2a2a;
}

.CompanyCard:hover {
	box-shadow: 1px 2px 3px lightgray, -1px -0px 3px lightgray;
	opacity: 1;
}

.CompanyCard h3 {
	display: flex;
	justify-content: space-between;
}

.CompanyCard span {
	text-align: left;
}

.CompanyCard p {
	text-align: left;
	width: 100%;
	margin: 1rem;
	margin: 10px 0;
}

.CompanyCard img {
	font-weight: 200;
}
