.JobCard {
	margin: 1rem auto;
	background-color: white;
	width: 50%;
	box-shadow: 1px 2px 3px lightgray;
	padding: 1rem;
	border-radius: 1px;
	position: relative;
	text-align: right;
}

.JobCard-Info {
	text-align: left;
}

.JobCard ul {
	padding: 0;
}
.JobCard li {
	list-style-type: none;
	padding: 0;
}

.JobCard-Apply {
	position: relative;
	right: 0px;
}

.JobCard button {
	background-color: #dc3545;
	border: none;
	margin: 1rem;
	padding: 0.5rem .85rem;
	outline: none;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	line-height: 1.5rem;
}
